
@section SideBar {

<div class="col-md-12">
    <h4>Dimensionering av LTB lager</h4>
</div>
}

<div id="ltb2">
    @await Html.PartialAsync("_Ltb2")
</div>
<script src="/js/site.js"></script>
<script type="text/javascript">SetCurrentPageOnHeader("Ltb");</script>
